* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9a 0%, #2199ff 100%);
    background-attachment: fixed;
}

p {
    font-size: 15px;
}

.container-1 { 
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    margin-top: 1em;
}

.container-1 #title { /* "Billionaire Calculator" title */
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
}


.input-box .details { /* "Years" and "Rate" */
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;
}

.input-box { /* input boxes below "Years" and "Rate" */
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

.input-box input { 
    height: 30px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px #000 solid;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease;
}

.input-box input:hover {
    border: 1px #6e6e6e solid;
}

.input-box input:focus { /* add border to input box when clicked */
    border: 1px #6f9bff solid;
}

#button{ /* "Calculate" button */
    height: 50px;
}

#button input { 
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 100%;
    width: 40%;
    outline: none;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

#button input:hover { /* change color of button when hovered*/
    background-color: #4f4f4f;
    cursor: pointer;
}

/* normalizes appearance of input fields across browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container-2 { 
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    margin-top: 1em;
    display: none; /* "display: none" for fade */
}

.container-2 .output-text {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.container-2 #user-wealth { 
    padding-bottom: 10px;
    display: none; /* "display: none" for fade */
}

.container-2 #user-rank { 
    display: none; /* "display: none" for fade */
}