*{
    margin: 0;
    padding: 0;
    font-family: Lato;
}

body{
    height: 100vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(191,154,255,1) 0%, rgba(255,121,121,1) 100%);
}

p{
    font-size: 15px;
}

.container{ 
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}

.container #title{ /* "Billionaire Calculator" title */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
}


.input-box .details{ /* "Years" and "Rate" */
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;
}

.input-box{ /* input boxes below "Years" and "Rate" */
    width: calc(100% / 2 - 10px);
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

.input-box input{ 
    height: 30px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px #000 solid;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease;
}

.input-box input:focus{ /* add border to input box when clicked */
    border: 3px #6f9bff solid;
}

#btn{ /* "Calculate" button */
    height: 50px;
}

#btn input{ 
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 100%;
    width: 30%;
    outline: none;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

#btn input:hover{ /* change color of button when hovered*/
    background-color: #4f4f4f;
    cursor: pointer;
}

/* normalizes appearance of input fields across browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/**************************************************/

.output-text{
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.output-text #user-wealth{
    margin-bottom: 10px;
}